.jumbotron {
  background-image: url(kitchen.jpg);
  background-size: cover;
}

.jumbotron h1, p {
  color: #f8f9fa;
}

.jumbotron img{
  height: 200px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.navbar{
text-align: left;
}
